.container{
    padding-left: 500px;
    padding-top:30px
}
.greenbox{
    background-color: chartreuse;
    width: 180px;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: medium;
    margin: 10px
}
.bluecontainer{
    padding: 170px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.blue {
    background-color: rgb(0, 191, 255);
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: x-small;
    margin: 8px
}
.deepblue{
    background-color: rgb(0, 115, 153);
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: x-small;
    margin: 8px
}
.lastcontainer{
    padding: 430px;
    padding-top: 5px;
}
.last{
    background-color: rgb(0, 115, 153);
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: x-small;
    margin: 8px;
}