.wrapper{
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.item{
    background-color: cadetblue;
    width: 50%;
    height: 500px;
    margin:10px;
    font-size: larger;
    font-weight: 700;
    text-transform: uppercase;
}
