.wrapper{
    background-color: whitesmoke;
    width: 100%;
    height:80%;
    margin: auto;
    box-sizing: border-box;
    font-family: sans-serif;
}
.textcontainer{
    width:50%;
    height:100%;
    display: inline-block;
    margin-left: 30px;
}
.image{
    float: right;
}
.greenbutton{
    background-color: mediumseagreen;
    width: 130px;
    height: 30px;
    color: mintcream;
    border-radius: 5px;
    border: none;
    margin-bottom: 80px;
    text-transform: uppercase;
    font-weight: 500;
}
.welcometext{
    text-transform: uppercase;
    font-size: small;
    font-weight: 700;
    margin-top: 50px;
}
.mottotext{
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 60px;
    font-weight: 700;
}
span{
    color: mediumseagreen;
}
.descriptiontext{
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;

}
.circle{
    width:8px;
    height:8px;
    background-color: rgba(60, 179, 113, 0.4);
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
}
.green{
    background-color: mediumseagreen;
}