body{
    background-color: rgb(48, 47, 47);
    /* width:100% */
    padding: 4%;
}
div {
    width: 230px;
    height:115px;
    border-radius: 4px;
 
}
.bg-pink {
    background: pink;
    display: inline-block;
}
.bg-yellow {
    background: rgb(248, 248, 160);
    display: inline-block;
}
.bg-beige{
    background: whitesmoke;
    display: inline-block;
}
.bg-khaki{
    background: rgb(212, 230, 215);
    display: inline-block;
}
.bg-cyan{
    background: rgb(176, 216, 218);
    display: inline-block;
}

