div{
    width: 170px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: small;
    margin: 10px;
}
.green-first{
    background-color: chartreuse;
}
.green-second{
    background-color: chartreuse;
}
.green-third{
    background-color: chartreuse;
}
.green-forth{
    background-color: chartreuse;
}
.blue-1{
    background-color: deepskyblue;
    width:100px;
    height: 40px;
}