body{
    background-color: rgb(36, 36, 53);
}
div {
    width: 230px;
    height:110px;
    line-height: 110px;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-left: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: x-large;
  
}
.bg-pink {
    background: pink;
    display: inline-block;
   
}
.bg-yellow {
    background: rgb(248, 248, 160);
    display: inline-block;
}
.bg-beige{
    background: whitesmoke;
    display: inline-block;
}
.bg-khaki{
    background: rgb(212, 230, 215);
    display: inline-block;
}
.bg-cyan{
    background: rgb(176, 216, 218);
    display: inline-block;
}

button{
    width: 540px;
    height:90px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-left: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: x-large;
    padding-bottom: 7px;
}
.greenbutton{
    background-color: mediumseagreen;
    
}
.khakibutton{
    background: rgb(212, 230, 215);

}
.pinkbutton{
    background: pink;
}
.beigebutton{
    background: whitesmoke;
}
.cyanbutton{
    background: rgb(176, 216, 218);
}
.yellowbutton{
    background: rgb(248, 248, 160);
}