body{
    background-color: rgb(255,255,255);
    padding-top: 30px;
}
.container{
    background-color:rgb(227,230,232);
    display: inline-block;
    width:920px;
    height:400px;
    text-align: center;
    margin-left:130px;
    padding-bottom: 50px;
}
img{
    width: 900px;
    height: 300px;
}
.bottom{
    width: 50px;
    height: 45px;
    background-color:rgb(40,42,53);
    margin-left: 565px;
}
.button{
    background-color: rgb(40,42,53);
    color: aliceblue;
    border-radius: 30px;
    font-size: medium;
    font-weight: 700;
    width: 280px;
    height: 60px;
    border-color: black;
    text-align: center;
    margin-left: 450px;

}
.circle{
    width:15px;
    height: 15px;
    background-color: rgb(113,113,113);
    display: inline-block;
    border-radius: 50px;
    margin-top: 5px;
}
.w3{
    background-color:rgb(255,255,255);
    color: initial;
    width: 600px;
    height: 30px;
    margin-left: 270px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 5px;

}
.topcircles{
    margin-right: 800px;
    margin-top: 20px;
}
.redcircle{
    width:15px;
    height: 15px;
    background-color: rgb(214, 14, 14);
    border-radius: 50px;
    margin-top: 5px;
    display: inline-block;

}
.yellowcircle{
    width:15px;
    height: 15px;
    background-color: rgb(240, 243, 62);
    border-radius: 50px;
    margin-top: 5px;
    display: inline-block;

}
.greencircle{
    width:15px;
    height: 15px;
    background-color: rgb(22, 235, 104);
    border-radius: 50px;
    margin-top: 5px;
    display: inline-block;
}
